body{
    font-family: 'Lato', sans-serif;
     background-color: aqua;
}
h1 {
    color: black;
    background-color: aliceblue;
    text-align: center;
}
p {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

img {
    height: 200px;
    width: 200px;
}
 a {
    display: block;
 }